.App{
  padding-top: 95px;
  background-color: black;
}
.number-container{
  display: flex;
  justify-content: center;
  
  align-items: center;

  background-color: black;

}
button{
  border: none;
}
.number-content{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  font-size: 50px;
  margin-top: -65px;
}

 .pminus{
  position: relative;
  left: 15px;
  background-color: gray;
  width: 50px;
  color: white;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;;
}
.pplus{
  position: relative;
  left: -15px;
  background-color: gray;
  width: 50px;
  color: white;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;;
}