.App{
  padding-top: 95px;
}
.number-container{
  display: flex;
  justify-content: center;
  
  align-items: center;


}
button{
  border: none;
}
.number-content{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  font-size: 50px;
  margin-top: -65px;
}

.pplus, .pminus{
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 40px;;
}